* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    background-color: aliceblue;
    border: 1px solid black;
    text-align: center;
    padding: 30px;
    height: 33.33%;
}

.column {
    float: left;
    background-color: aliceblue;
    border: 1px solid black;
    padding: 15px;
    width: 33.33%;
    height: 100%;
    border-left: none;
    border-top: none;
}

.column1 {
    float: left;
    background-color: aliceblue;
    border: 1px solid black;
    padding: 15px;
    width: 33.33%;
    height: 20%;
    border-top: none;
}

div {
    height:70%;
}

footer {
    background-color: aliceblue;
    padding: 30px;
    text-align: center;
    
}